/* Class for the entire outer container */
.Container {
  position: absolute;
  left: 4px;
  text-align: center;
  width: 900px;
  background-color: #ffffff;
  min-height: 550px;
  padding-top: 1px;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  border-color: #A4A4A4;
}
/* Class for each of the queries that are returned */
.QueryReturn {
  min-height: 40px;
  background-color: #0099ff;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  margin-bottom: -5px;
  /* align-content: flex-start; */
  text-align: left;
  position: relative;
  padding-left: 10px;

}

.QueryReturn:hover {
  background-color: #0052cc;
}
/* Class for the header of the app */
.Header {
  margin: 20px;
  background-color: #0099ff;
  min-height: 60px;
  z-index: 10;
  border-radius: 5px;
}

/* Class for the container the queries are stored in */
.DisplayContainer {
  padding-top: 0px;
  padding-bottom: 0px;
  align-content: center;
  margin: 20px;
  background-color: #DCDCDC;
  min-height: 400px;
  max-height: 400px;
  border-radius: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: #A4A4A4;

  z-index: 10;
  overflow-y: auto;
  white-space: nowrap;
}

/* id defining the subredditSubmit box */
#subredditSubmit {
  min-width: 400px;
}

/* id defining the numberSubmit box */
#numberSubmit {
  max-width: 75px;
}

input[type=text], select {
    position: relative;
    left: -50px;
    margin: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    min-height: 25px;
}

input[type=submit] {
    position: relative;
    left: 0px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border-style: solid;
    border-color: #006600;
    border-width: 2px;
    margin: 15px;
    border-radius: 4px;
    cursor: pointer;
    max-width: 200px;
    min-height: 30px;
    max-height: 30px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div p {
  color:#ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
